<!-- <h1>Pipes in Angular</h1>
<h1>{{ today | date: 'fullDate' }}</h1>
<h1>{{ text | uppercase }}</h1>
<p>{{ lowerCaseText | lowercase }}</p>
<p>{{ person | json }}</p> -->

<!-- <p>Forms in Angular</p>
<input type="text" />
1- Template Driven Forms 2- Reactive Forms

<form #form="ngForm" (ngSubmit)="saveData(name.value)">
  <input type="text" #name ngModel value="Name" />
  <button type="submit">Submit</button>
</form>

{{ name.value }} -->

<!-- <form #form="ngForm" (ngSubmit)="saveUserData(form.value)">
  <input
    type="text"
    name="name"
    ngModel
    placeholder="Name"
    required="true"
    minlength="3"
  />
  <br />

  <input
    type="email"
    name="email"
    ngModel
    placeholder="Email"
    required="true"
    minlength="3"
  />
  <br />

  <input
    required="true"
    type="password"
    name="password"
    placeholder="Password"
    minlength="3"
    ngModel
  />
  <br />
  <button [disabled]="!form.valid" type="submit">Submit</button>
</form> -->

<!-- <form #form="ngForm" (ngSubmit)="saveUserData(form.value)">
  <input
    type="text"
    ngModel
    #name="ngModel"
    placeholder="Name"
    required="true"
    minlength="3"
    name="name"
  />
  <br />

  <input
    type="email"
    #email="ngModel"
    ngModel
    placeholder="Email"
    required="true"
    name="email"
    minlength="3"
  />
  <br />

  <input
    #password="ngModel"
    required="true"
    name="password"
    type="password"
    placeholder="Password"
    minlength="3"
    ngModel
  />
  <br />
  <span *ngIf="password.invalid && password.touched">Enter a password</span>
  <span
    *ngIf="
      (password.invalid && password.errors.minlength && password.dirty) ||
      password.touched
    "
    >Enter a password min 3</span
  >
  <br />
  <button type="submit">Submit</button>
</form> -->

<!-- <form #form="ngForm" (ngSubmit)="saveFormdata(form.value)">
  <input
    type="text"
    name="name"
    #name="ngModel"
    ngModel
    placeholder="enter your name"
    required
    minlength="3"
    maxlength="10"
  />

  validation for the name input
  <div *ngIf="name.touched">
    <span *ngIf="name.invalid && name.errors?.required">name is required</span>
    <span *ngIf="name.invalid && name.errors?.minlength"
      >minlength should be 3 characters</span
    >
    <span *ngIf="name.invalid && name.errors?.maxlength"
      >maxlength should be 10 characters</span
    >
  </div>

  <input
    type="tel"
    name="phone"
    #phone="ngModel"
    ngModel
    placeholder="enter your phone"
    required
    minlength="2"
    maxlength="11"
  />
  validation for the phone input
  <div *ngIf="phone.touched">
    <span *ngIf="phone.invalid && phone.errors?.required"
      >phone is required</span
    >
    <span *ngIf="phone.invalid && phone.errors?.minlength"
      >minlength of phone should be 2 characters</span
    >
    <span *ngIf="phone.invalid && phone.errors?.maxlength"
      >maxlength of phone should be 11 characters</span
    >
  </div>
  <br />
  <button [disabled]="name.invalid || phone.invalid" type="submit">
    Submit
  </button>
</form> -->

<form
  [formGroup]="formGroup"
  (ngSubmit)="saveTheReactiveFormData(formGroup.value)"
>
  <input
    formControlName="name"
    type="text"
    name="name"
    placeholder="enter your name"
  />
  <input
    formControlName="email"
    type="email"
    name="email"
    placeholder="enter your email"
  />
  <input
    formControlName="phone"
    type="tel"
    name="phone"
    placeholder="enter your phone"
  />

  <br />
  <button type="submit">Submit</button>
</form>
